---
import { Icon } from "astro-icon";
---

<style>
  /* ------------------------------------------------*/
  /* Preview Start */
  /* ------------------------------------------------*/
  .demo__links {
    position: relative;
    padding: 0 1.5rem;
    z-index: 6;
  }
  @media only screen and (min-width: 768px) {
    .demo__links {
      padding: 0 3rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .demo__links {
      max-width: 1760px;
      margin: 0 auto;
    }
  }

  .links__card {
    position: relative;
    padding: 0 1.5rem;
  }
  @media only screen and (min-width: 768px) {
    .links__card {
      padding: 0 2rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .links__card {
      padding: 0 3rem;
    }
  }

  .card__item {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
    -moz-transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
    transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  }
  .no-touch .card__item:hover {
    -webkit-transform: translate3d(0, -0.6rem, 0);
    -moz-transform: translate3d(0, -0.6rem, 0);
    transform: translate3d(0, -0.6rem, 0);
    -webkit-box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
    -moz-box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
    box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
  }

  .card__image {
    display: block;
    cursor: pointer;
  }

  .card__caption {
    padding: 2rem;
  }
  @media only screen and (min-width: 768px) {
    .card__caption {
      padding: 3rem;
    }
  }

  /* ------------------------------------------------*/
  /* Preview Sections End */
  /* ------------------------------------------------*/

  .img-fluid {
    max-width: 70px;
  }

  @media only screen and (min-width: 1400px) {
    .card__title {
      padding: 10rem !important;
    }
  }
  @media only screen and (min-width: 768px) {
    .card__title {
      padding: 7rem !important;
    }
  }
  .card__title {
    padding: 10rem !important;
  }

  @media only screen and (min-width: 768px) {
    .rank {
      font-size: 2.5rem !important;
    }
  }
  .rank {
    font-size: 2.5rem !important;
  }
</style>

<!-- <div class="intro__content mx-5">
  <div class="intro__container">
    <div class="container-fluid px-0">
      <div class="row gx-0">
        <div class="col-12">
          <div class="headline">
            <h1 class="headline__title">
              Coming soon &amp; portfolio template for the great launch
            </h1>
            <div class="headline__btnholder d-flex">
              <a
                href="#live-preview"
                class="btn-bottom anim-down scroll-to-preview"
              >
                <span class="circle">
                  <i class="circle__icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25px"
                      height="25px"
                      viewBox="0 0 25 25"
                    >
                      <path
                        fill="#393C44"
                        d="M25,4.8V24v1h-1H3.8v-1h19.5L0,0.7L0.7,0L24,23.3V4.8H25z"
                      ></path>
                    </svg>
                  </i>
                </span>
                <span class="caption">View demos</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section id="live-preview" class="demo__links first-section">
  <div class="links__card headline mb-5">
    <div class="container-fluid p-0">
      <div class="row gx-5 gy-5 align-items-stretch">
        <div
          class="card card-white border-radius-s animate-in-up h-100"
          data-astro-cid-amng4zvp=""
        >
          <div class="card__image card-image-1" data-astro-cid-amng4zvp="">
          </div><div
            class=""
            style="position:relative;display: flex;
    place-content: space-between; gap:4%;padding: 3rem;"
            data-astro-cid-amng4zvp=""
          >
            <div
              data-astro-cid-amng4zvp=""
              style="
    margin-top: auto; margin-bottom:30px;
"
            >
              <div class="rounded-tag" style="margin-bottom:30px;">
                DÉVELOPPEMENT
              </div><br data-astro-cid-amng4zvp="" />
              <h1 class="headline__title">
                Service <br />développement <br />D'APPLICATIONS WEB
              </h1>
            </div>
            <div class="">
              <img
                class="border-radius-s"
                src="https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/64ac084753c77648b5c40ec6_service-hero_webdesign-p-500.webp"
                style="
       width: 40rem;
    height: 40rem;
"
              />
            </div>
          </div>
          <div class="sp-px-5">
            <hr style="z-index:30;position:relative" />
            <div
              class="d-flex sp-py-3 justify-content-between align-items-center"
              style="z-index:30"
            >
              <p
                class="d-flex align-items-center"
                style="z-index:30;text-transform:uppercase"
              >
                <Icon
                  name="mdi:ruler-square-compass"
                  style="width:8rem;z-index:30;"
                  class="sp-mr-5"
                />Solution digitale <br />sur mesure
              </p>
              <a
                class="btn btn-l d-flex"
                href="http://themeforest.net/cart/add_items?item_ids=48060926"
                target="_blank"
                ><span class="btn__background dark"></span><span
                  class="btn__text light"
                  ><em class="btn-title" style="font-weight:700"
                    >Commencer un projet
                  </em><em class="btn-hover" style="font-weight:700"
                    >Commencer un projet</em
                  ></span
                ><Icon
                  name="fluent:arrow-right-48-regular"
                  style="width:4rem; color:white;z-index:30"
                  class="sp-ml-3 opposite"
                /></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
