<div class="pt-32">
  <img
    class="h-auto max-w-full border-radius-s"
    src="https://assets-global.website-files.com/63fc977c14aaea404dce4439/6512a2673df3c3541eb948a9_%D0%93%D1%80%D1%83%D0%BF%D0%BF%D0%B0%201%206.webp"
    alt="image description"
  />
</div>
