<style>
  #arlibera {
    margin-bottom: 10rem;
  }
  h2 {
    margin-bottom: 5rem;
  }
  @media only screen and (min-width: 768px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
  @media only screen and (min-width: 992px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
</style>

<!-- Main Section Start -->
<div class="container-custom">
  <div class="row gx-5">
    <div class="col-12">
      <h2 class="inner__title animate-in-up">
        Creativity is above all. Just awesome template.
      </h2>
    </div>
    <div class="col-12 col-md-4">
      <span class="rounded-tag">Overview</span>
    </div><div class="col-12 col-md-8">
      <p class="inner__text animate-in-up">
        En tant qu'agence de communication basée au Maroc, notre philosophie
        unique repose sur la production des solutions digitales visant la
        qualité supérieure. Nous élaborons des stratégies sur mesure en nous
        appuyant sur notre expertise en Design, Développement Web et Marketing
        Digital.
      </p>
    </div>
  </div>
</div>
