---
import Button from "../Button.astro";
---

<style>
  #arlibera {
    margin-bottom: 10rem;
  }
  h2 {
    margin-bottom: 5rem;
  }
  @media only screen and (min-width: 768px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
  @media only screen and (min-width: 992px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
</style>

<!-- Main Section Start -->
<div class="px-2 md:px-16 pt-32">
  <div class="row">
    <div class="col-12 col-md-4">
      <span class="rounded-tag text-lg mb-5">Overview</span>
    </div><div class="col-12 col-md-8">
      <h3 class="pb-0 md:pb-5 font-medium">Successful undertaking</h3>
      <p class="inner__text animate-in-up text-4xl leading-relaxed">
        En tant qu'agence de communication basée au Maroc, notre philosophie
        unique repose sur la production des solutions digitales visant la
        qualité supérieure. Nous élaborons des stratégies sur mesure en nous
        appuyant sur notre expertise en Design, Développement Web et Marketing
        Digital.
      </p>
      <div class="max-w-max mt-24"><Button /></div>
    </div>
  </div>
</div>
