<style>
  /* ------------------------------------------------*/
  /* Preview Start */
  /* ------------------------------------------------*/
  .demo__links {
    position: relative;
    padding: 0 1.5rem;
    z-index: 6;
  }
  @media only screen and (min-width: 768px) {
    .demo__links {
      padding: 0 3rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .demo__links {
      max-width: 1760px;
      margin: 0 auto;
    }
  }

  .links__card {
    position: relative;
    padding: 0 1.5rem;
  }
  @media only screen and (min-width: 768px) {
    .links__card {
      padding: 0 2rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .links__card {
      padding: 0 3rem;
    }
  }

  .card__item {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
    -moz-transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
    transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  }
  .no-touch .card__item:hover {
    -webkit-transform: translate3d(0, -0.6rem, 0);
    -moz-transform: translate3d(0, -0.6rem, 0);
    transform: translate3d(0, -0.6rem, 0);
    -webkit-box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
    -moz-box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
    box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
  }

  .card__image {
    display: block;
    cursor: pointer;
  }

  .card__caption {
    padding: 2rem;
  }
  @media only screen and (min-width: 768px) {
    .card__caption {
      padding: 3rem;
    }
  }

  /* ------------------------------------------------*/
  /* Preview Sections End */
  /* ------------------------------------------------*/

  .img-fluid {
    max-width: 70px;
  }

  @media only screen and (min-width: 1400px) {
    .card__title {
      padding: 10rem !important;
    }
  }
  @media only screen and (min-width: 768px) {
    .card__title {
      padding: 7rem !important;
    }
  }
  .card__title {
    padding: 10rem !important;
  }

  @media only screen and (min-width: 768px) {
    .rank {
      font-size: 2.5rem !important;
    }
  }
  .rank {
    font-size: 2.5rem !important;
  }
</style>

<!-- <div class="intro__content mx-5">
  <div class="intro__container">
    <div class="container-fluid px-0">
      <div class="row gx-0">
        <div class="col-12">
          <div class="headline">
            <h1 class="headline__title">
              Coming soon &amp; portfolio template for the great launch
            </h1>
            <div class="headline__btnholder d-flex">
              <a
                href="#live-preview"
                class="btn-bottom anim-down scroll-to-preview"
              >
                <span class="circle">
                  <i class="circle__icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25px"
                      height="25px"
                      viewBox="0 0 25 25"
                    >
                      <path
                        fill="#393C44"
                        d="M25,4.8V24v1h-1H3.8v-1h19.5L0,0.7L0.7,0L24,23.3V4.8H25z"
                      ></path>
                    </svg>
                  </i>
                </span>
                <span class="caption">View demos</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section id="live-preview" class="demo__links first-section">
  <div
    class="headline mb-5 margin__title"
    style="position:relative;    display: flex;
    padding-bottom: 70px;
    place-content: space-between;"
  >
    <h2 class="headline__title">Avantages conçus pour un niveau supérieur</h2>
    <div class="headline__btnholder d-flex">
      <a href="#live-preview" class="btn-bottom anim-down scroll-to-preview">
        <span class="circle">
          <i class="circle__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25px"
              height="25px"
              viewBox="0 0 25 25"
            >
              <path
                fill="#393C44"
                d="M25,4.8V24v1h-1H3.8v-1h19.5L0,0.7L0.7,0L24,23.3V4.8H25z"
              ></path>
            </svg>
          </i>
        </span>
        <span class="caption">Consulter les <br />derniers articles</span>
      </a>
    </div>
  </div>
  <div class="links__card">
    <div class="container-fluid p-0">
      <div class="container-fluid px-0">
        <div class="row gx-5 gy-5 align-items-stretch">
          <!-- feature single item -->
          <div class="col-12 col-xl-8">
            <div class="card card-white border-radius-s animate-in-up">
              <div class="card__image card-image-1"></div><div
                class="card__title"
              >
                <h4>Frontend <br />Development</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">UI/UX Design</span><span
                    class="rounded-tag">Design to Code</span
                  >
                </div>
              </div>
            </div>
          </div><!-- feature single item -->
          <div class="col-12 col-xl-4">
            <div class="card card-gradient border-radius-s animate-in-up">
              <div class="card__image card-image-2"></div><div
                class="card__title"
              >
                <h4>Digital<br /> Art</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">Illustrations</span><span
                    class="rounded-tag">3d models</span
                  >
                </div>
              </div>
            </div>
          </div><!-- feature single item -->
          <div class="col-12 col-xl-4">
            <div class="card card-white border-radius-s animate-in-up">
              <div class="card__image card-image-3"></div><div
                class="card__title"
              >
                <h4>Brand<br /> Identity</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">Logo Design</span><span
                    class="rounded-tag">Style Guides</span
                  >
                </div>
              </div>
            </div>
          </div><!-- feature single item -->
          <div class="col-12 col-xl-8">
            <div class="card card-white border-radius-s animate-in-up">
              <div class="card__image card-image-4"></div><div
                class="card__title"
              >
                <h4>Digital Marketing <br />Solutions</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">Social Media</span><span
                    class="rounded-tag">Promotion</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
