---
import { Icon } from "astro-icon";
---

<a
  class="btn btn-l d-flex"
  href="http://themeforest.net/cart/add_items?item_ids=48060926"
  target="_blank"
  ><span class="btn__background dark"></span><span class="btn__text light"
    ><em class="btn-title" style="font-weight:700">Commencer un projet</em><em
      class="btn-hover"
      style="font-weight:700">Commencer un projet</em
    ></span
  ><Icon
    name="fluent:arrow-right-48-regular "
    style="width:4rem; color:white;z-index:30"
    class="sp-ml-3 opposite"
  /></a
>
