---
const today = new Date();
---

<style>
  /* ------------------------------------------------*/
  /* Footer Styles Start */
  /* ------------------------------------------------*/
  .demo__footer {
    position: relative;
    min-width: 320px;
  }
  @media only screen and (min-width: 1400px) {
    .demo__footer {
      max-width: 1760px;
      margin: 0 auto;
    }
  }

  .footer__container {
    position: relative;
    padding: 0 1.5rem;
  }
  @media only screen and (min-width: 768px) {
    .footer__container {
      padding: 0 3rem;
    }
  }

  .footer__content {
    padding: 3.5rem 1.5rem;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .footer__content {
      padding: 4rem 3rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    .footer__content {
      padding: 4rem 3rem 7rem 3rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .footer__content {
      padding: 7rem 3rem 10rem 3rem;
    }
  }

  .footer__logo {
    margin-bottom: 2rem;
  }
  .footer__logo img {
    width: 160px;
    margin: 0 auto;
  }
  @media only screen and (min-width: 1200px) {
    .footer__logo {
      padding-top: 0;
    }
  }

  .footer__caption {
    font-size: 2rem;
    font-weight: 400;
    max-width: 500px;
    margin: 0 auto;
  }

  .footer__btngroup {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 3.4rem;
  }

  .footer__links {
    padding: 1.5rem 0;
  }
  @media only screen and (min-width: 768px) {
    .footer__links {
      padding: 3rem 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    .footer__links {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2rem 5rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .footer__links {
      padding: 2rem 6rem;
    }
  }

  /* ------------------------------------------------*/
  /* Footer Styles End */
  /* ------------------------------------------------*/
</style>

<footer class="demo__footer">
  <div class="footer__container">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-12">
          <div class="footer__content d-flex flex-column">
            <div class="footer__logo">
              <img
                src="img/demo/logo.svg"
                alt="Marvio - Coming Soon, Landing Page & Portfolio Template"
              />
            </div>
            <p class="footer__caption">
              &copy; {today.getFullYear()} Your name here. All rights reserved.
              Spectacular project starter and personal portfolio. Show your
              ceativity and get noticed today!
            </p>
            <div class="footer__btngroup">
              <a
                class="btn btn-l"
                href="http://themeforest.net/cart/add_items?item_ids=48060926"
                target="_blank"
              >
                <span class="btn__background dark"></span>
                <span class="btn__text light">
                  <em class="btn-title">Purchase Now</em>
                  <em class="btn-hover">Purchase Now</em>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="footer__links">
            <div class="container-fluid p-0">
              <div class="row g-0 d-flex justify-content-between">
                <div class="col-12 col-xl-6 text-center text-xl-start">
                  <p class="additional-text">
                    Let's talk on
                    <a
                      class="contact-link"
                      href="mailto:support@mixdesign.club?subject=Message%20from%20Marvio%20demo"
                      >support@mixdesign.club</a
                    >
                  </p>
                </div>
                <div class="col-12 col-xl-6 text-center text-xl-end">
                  <p class="additional-text">
                    Made with
                    <i class="fa-solid fa-heart"></i>
                     by
                    <a
                      class="light contact-link"
                      href="https://themeforest.net/user/mix_design/portfolio"
                      target="_blank">mix_design</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
