---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

  <!-- Header Start -->
  <header id="header" class="header">

    <!-- Logo Start -->
    <div class="header__logo">
      <img src="img/logo.svg" alt="Emeric - Coming Soon and Portfolio Template">
    </div>
    <!-- Logo End -->

    <!-- Header Content Start -->
    <div class="header__content d-flex align-items-center">
      <div class="container-fluid px-0 fullheight-mobile">
        <div class="row gx-0 gx-lg-5 justify-content-end justify-content-xl-start fullheight-mobile">
          <div class="col-auto col-lg-8 fullheight-mobile">

            <!-- Header Controls Block Start -->
            <div class="header__buttons d-flex justify-content-end align-items-center" style="    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);">

              <!-- Socials Desktop Start -->
              <div class="socials-desktop">
                <!-- Home screen socials links -->
                <ul class="socials d-flex align-items-start">
                  <li>
                    <a class="btn btn-s-text" href="https://dribbble.com/" target="_blank">
                      <span class="btn-title">Services</span>
                      <span class="btn-hover">Services</span>
                    </a>
                  </li>
                  <li>
                    <a class="btn btn-s-text" href="https://www.instagram.com" target="_blank">
                      <span class="btn-title">Secteurs</span>
                      <span class="btn-hover">Secteurs</span>
                    </a>
                  </li>
                  <li>
                    <a class="btn btn-s-text" href="https://www.behance.net/" target="_blank">
                      <span class="btn-title">Projets</span>
                      <span class="btn-hover">Projets</span>
                    </a>
                  </li>
                  <li>
                    <a class="btn btn-s-text" href="https://www.behance.net/" target="_blank">
                      <span class="btn-title">Ressources</span>
                      <span class="btn-hover">Ressources</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Socials Desktop End -->

              <!-- Notify Trigger Start -->
              <a id="notify-trigger" class="btn btn-s btn-s-icon" href="#0">
                <span class="btn__background dark"></span>
                <span class="btn__text light">
                  <i class="fa-solid fa-bell"></i>
                  <em class="btn-title">Contact</em>
                  <em class="btn-hover">Contact</em>
                </span>
              </a>
              <!-- Notify Trigger End -->

            </div>
            <!-- Header Controls Block End -->

          </div>
          <div class="col-auto col-lg-4">

            <!-- Menu Trigger Start -->
            <div class="header__menu d-flex justify-content-end align-items-center">
              <a id="menu-trigger" class="btn menu-trigger" href="#0">
                <span class="menu-trigger__background"></span>
                <span class="menu-trigger__menu">
                  <em class="btn-title">Commencer un projet</em>
                  <em class="btn-hover">Commencer un projet</em>
                </span>
                <span class="menu-trigger__close">
                  <em class="btn-title">Close</em>
                  <em class="btn-hover">Close</em>
                </span>
              </a>
            </div>
            <!-- Menu Trigger End -->

          </div>
        </div>
      </div>
    </div>
    <!-- Header Content End -->

  </header>
  <!-- Header End -->

    <!-- Menu Start -->
  <nav id="menu" class="menu">
    <div class="menu__content d-flex">
      <div class="container-fluid px-0 fullheight">
        <div class="row gx-0 gx-lg-5 fullheight">

          <!--Menu Data Block Start -->
          <div class="col-12 col-lg-8 menu__data">
            <div class="menudata__content">

              <!-- Menu Sections Links Start -->
              <div class="menudata__links">
                <div class="container-fluid p-0">
                  <div class="row g-0">
                    <div class="col-12">

                      <!-- Navigation Start -->
                      <ul class="navigation">
                        <li>
                          <a href="#0" id="home-trigger" class="navigation__link" data-ref="home">
                            <span class="nav-star"></span>
                            <span class="nav-caption">Home</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" id="about-trigger" class="navigation__link" data-ref="about">
                            <span class="nav-star"></span>
                            <span class="nav-caption">About Us</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" id="works-trigger" class="navigation__link" data-ref="works">
                            <span class="nav-star"></span>
                            <span class="nav-caption">Portfolio</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" id="contact-trigger" class="navigation__link" data-ref="contact">
                            <span class="nav-star"></span>
                            <span class="nav-caption">Contact</span>
                          </a>
                        </li>
                      </ul>
                      <!-- Navigation End -->

                    </div>
                  </div>
                </div>
              </div>
              <!-- Menu Sections Links End -->

              <!-- Menu Contact Links Start -->
              <div class="menudata__contact">
                <div class="container-fluid px-0">
                  <div class="row gx-0 gx-lg-5">
                    <div class="col-12 col-lg-4 menudata__item">
                      <p class="menudata__title">Let's talk:</p>
                      <p class="menudata__text">
                        <a class="contact-link" href="mailto:example@example.com?subject=Message%20from%20your%20site">hello@emeric.com</a>
                      </p>
                    </div>
                    <div class="col-12 col-lg-8 menudata__item">
                      <p class="menudata__title">Welcome:</p>
                      <p class="menudata__text">
                        <a class="contact-link" href="https://goo.gl/maps/nWXKpGaDPuyH6gxRA">11 West 53 Street, New York, NY</a>
                      </p>
                    </div>
                  </div>
                </div> 
              </div>
              <!-- Menu Contact Links End -->

            </div>
          </div>
          <!--Menu Data Block End -->

          <!--Menu Media Block Start -->
          <div class="col-12 col-lg-4 menu__media">
            <div class="media__content border-radius-l">

              <!-- Menu Image Background Start -->
              <div class="menu__image menu-image-1"></div>
              <!-- Menu Image Background End -->

            </div>
          </div>
          <!--Menu Media Block End-->

        </div>
      </div>
    </div>
  </nav>
  <!-- Menu End -->
