---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<nav class="fixed w-full z-20 top-0 left-0 border-b">
  <div
    class="flex flex-wrap items-center justify-between py-12 px-5 mx-20 rounded-full mt-4"
    style="    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);"
  >
    <a href="/" class="flex items-center">
      <div class="">
        <img
          src="img/logo.svg"
          alt="Emeric - Coming Soon and Portfolio Template"
        />
      </div>
    </a>
    <div class="flex md:order-2">
      <a id="notify-trigger" class="btn btn-s btn-s-icon" href="#0">
        <span class="btn__background dark"></span>
        <span class="btn__text light">
          <i class="fa-solid fa-bell"></i>
          <em class="btn-title">Contact</em>
          <em class="btn-hover">Contact</em>
        </span>
      </a>
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 space-x-16"
      id="navbar-sticky"
    >
      <a class="btn btn-s-text" href="">
        <span class="btn-title">Agence</span>
        <span class="btn-hover">Agence</span>
      </a>

      <a class="btn btn-s-text" href="/services">
        <span class="btn-title">Services</span>
        <span class="btn-hover">Services</span>
      </a>
      <a class="btn btn-s-text" href="/projets">
        <span class="btn-title">Projets</span>
        <span class="btn-hover">Projets</span>
      </a>
      <a class="btn btn-s-text" href="/blog">
        <span class="btn-title">Ressources</span>
        <span class="btn-hover">Ressources</span>
      </a>
    </div>
  </div>
</nav>

<!-- Menu Start -->
<nav id="menu" class="menu">
  <div class="menu__content d-flex">
    <div class="container-fluid px-0 fullheight">
      <div class="row gx-0 gx-lg-5 fullheight">
        <!--Menu Data Block Start -->
        <div class="col-12 col-lg-8 menu__data">
          <div class="menudata__content">
            <!-- Menu Sections Links Start -->
            <div class="menudata__links">
              <div class="container-fluid p-0">
                <div class="row g-0">
                  <div class="col-12">
                    <!-- Navigation Start -->
                    <ul class="navigation">
                      <li>
                        <a
                          href="#0"
                          id="home-trigger"
                          class="navigation__link"
                          data-ref="home"
                        >
                          <span class="nav-star"></span>
                          <span class="nav-caption">Home</span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#0"
                          id="about-trigger"
                          class="navigation__link"
                          data-ref="about"
                        >
                          <span class="nav-star"></span>
                          <span class="nav-caption">About Us</span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#0"
                          id="works-trigger"
                          class="navigation__link"
                          data-ref="works"
                        >
                          <span class="nav-star"></span>
                          <span class="nav-caption">Portfolio</span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#0"
                          id="contact-trigger"
                          class="navigation__link"
                          data-ref="contact"
                        >
                          <span class="nav-star"></span>
                          <span class="nav-caption">Contact</span>
                        </a>
                      </li>
                    </ul>
                    <!-- Navigation End -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Menu Sections Links End -->

            <!-- Menu Contact Links Start -->
            <div class="menudata__contact">
              <div class="container-fluid px-0">
                <div class="row gx-0 gx-lg-5">
                  <div class="col-12 col-lg-4 menudata__item">
                    <p class="menudata__title">Let's talk:</p>
                    <p class="menudata__text">
                      <a
                        class="contact-link"
                        href="mailto:example@example.com?subject=Message%20from%20your%20site"
                        >hello@emeric.com</a
                      >
                    </p>
                  </div>
                  <div class="col-12 col-lg-8 menudata__item">
                    <p class="menudata__title">Welcome:</p>
                    <p class="menudata__text">
                      <a
                        class="contact-link"
                        href="https://goo.gl/maps/nWXKpGaDPuyH6gxRA"
                        >11 West 53 Street, New York, NY</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Menu Contact Links End -->
          </div>
        </div>
        <!--Menu Data Block End -->

        <!--Menu Media Block Start -->
        <div class="col-12 col-lg-4 menu__media">
          <div class="media__content border-radius-l">
            <!-- Menu Image Background Start -->
            <div class="menu__image menu-image-1"></div>
            <!-- Menu Image Background End -->
          </div>
        </div>
        <!--Menu Media Block End-->
      </div>
    </div>
  </div>
  <!-- Menu End -->
</nav>
