<!-- Main Section Start -->
<section id="main" class="main active px-0" style="">
  <div class="main__content d-flex">
    <div class="container-fluid px-0 fullheight">
      <div class="row gx-0 gx-lg-5 fullheight">
        <!-- Main Section Intro Start -->
        <div class="col-12 col-lg-8 main__intro">
          <!-- Intro Content Start -->
          <div class="intro__content">
            <div id="headline" class="headline">
              <div class="rounded-tag position-relative">
                Agence de Communication basée au Maroc
              </div>

              <h1 class="headline__title" style="margin:5rem 0">
                Libérez le potentiel de votre business
              </h1>
              <p class="inner__text animate-in-up my-4">
                Atteignez vos objectifs commerciaux grâce à nos stratégies sur
                mesure en Design, Développement et Marketing Digital.
              </p>
              <div class="headline__btnholder d-flex">
                <a href="#0" id="menu-trigger-headline" class="btn-bottom more">
                  <span class="circle">
                    <i class="circle__icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="35px"
                        height="30px"
                        viewBox="0 0 35 30"
                      >
                        <path
                          fill="#393C44"
                          d="M20.6,0.4l13.6,13.6l0.7,0.7l-0.7,0.7L19.9,29.6l-0.7-0.7L33,15.1H0.1v-1H33L19.9,1.1L20.6,0.4z"
                        ></path>
                      </svg>
                    </i>
                  </span>
                  <span class="caption">See More</span>
                </a>
              </div>
            </div>
            <!-- Headline End -->
          </div>
          <!-- Intro Content End -->
        </div>
        <!-- Main Section Intro End -->

        <!-- Main Section Media Start -->
        <div class="col-12 col-lg-4 main__media">
          <!-- Media Content Start -->
          <div class="media__content border-radius-l">
            <!-- Main Section Split Swiper Slider Start -->
            <!-- Slider main container -->
            <div class="swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide split-slide">
                  <video
                    class="slider-video"
                    preload="auto"
                    autoplay="autoplay"
                    loop="loop"
                    muted="muted"
                    poster="https://dummyimage.com/1000x1500/4d4d4d/636363"
                  >
                    <source type="video/mp4" src="video/video-slider-1.mp4" />
                    <source type="video/webm" src="video/video-slider-1.webm" />
                    <source type="video/ogv" src="video/video-slider-1.ogv" />
                  </video>
                </div>
                <div class="swiper-slide split-slide split-slide-1">
                  <video
                    class="slider-video"
                    preload="auto"
                    autoplay="autoplay"
                    loop="loop"
                    muted="muted"
                    poster="https://dummyimage.com/1000x1500/4d4d4d/636363"
                  >
                    <source type="video/mp4" src="video/video-slider-2.mp4" />
                    <source type="video/webm" src="video/video-slider-2.webm" />
                    <source type="video/ogv" src="video/video-slider-2.ogv" />
                  </video>
                </div>
                <div class="swiper-slide split-slide split-slide-4"></div>
              </div>
              <!-- Pagination -->
              <div
                class="swiper-pagination split-slider-pagination-emeric d-flex align-items-center justify-content-center"
              >
              </div>
              <!-- Navigation buttons -->
              <div
                class="swiper-button-prev split-slider-btn-emeric split-slider-btn-emeric-prev"
              >
                <span class="circle"></span>
                <i class="fa-solid fa-chevron-left"></i>
              </div>
              <div
                class="swiper-button-next split-slider-btn-emeric split-slider-btn-emeric-next"
              >
                <span class="circle"></span>
                <i class="fa-solid fa-chevron-right"></i>
              </div>
            </div>
            <!-- Main Section Split Swiper Slider End -->
          </div>
          <!-- Media Content End -->
        </div>
        <!-- Main Section Media End -->

        <!-- Socials Mobile Start -->
        <div class="col-12 socials-mobile border-radius-l">
          <ul>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.behance.net/" target="_blank">
                <i class="fa-brands fa-behance"></i>
              </a>
            </li>
            <li>
              <a href="https://dribbble.com/" target="_blank">
                <i class="fa-brands fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- Socials Mobile End -->
      </div>
    </div>
  </div>
</section>
<!-- Main Section End -->
