<style>
  #arlibera {
    margin-bottom: 10rem;
  }
  h2 {
    margin-bottom: 5rem;
  }
  @media only screen and (min-width: 768px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
  @media only screen and (min-width: 992px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    #arlibera {
      margin-bottom: 10rem;
    }
  }
</style>

<!-- Main Section Start -->
<div class="blocks__container">
  <div class="content-block">
    <div class="container-fluid px-0">
      <div class="row gx-5" id="arlibera">
        <!-- <div class="col-12">
                          <h2 class="inner__title animate-in-up">Creativity is above all. Just awesome template.</h2>
                        </div> -->
        <div class="col-12 col-md-4">
          <img
            class="inner__name animate-in-up"
            src="img/svg/section-name-about.svg"
            alt="About Me"
          />
        </div><div class="col-12 col-md-8">
          <h2 class="inner__title">Let's create something amazing together.</h2>
          <p class="inner__text animate-in-up">
            I wonder if I've been changed in the night? Let me think. Was I the
            same when I got up this morning? I almost think I can remember

            <span>feeling a little different</span>. But if I'm not the same,
            the
            <a href="#0" class="text-link">next question</a>
             is “Who in the world am I?” Ah, that's the great puzzle!
          </p>
        </div>
      </div>

      <div class="container-fluid px-0">
        <div class="row gx-5 gy-5 align-items-stretch">
          <!-- feature single item -->
          <div class="col-12 col-xl-8">
            <div class="card card-white border-radius-s animate-in-up">
              <div class="card__image card-image-1"></div><div
                class="card__title"
              >
                <h4>Frontend <br />Development</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">UI/UX Design</span><span
                    class="rounded-tag">Design to Code</span
                  >
                </div>
              </div>
            </div>
          </div><!-- feature single item -->
          <div class="col-12 col-xl-4">
            <div class="card card-gradient border-radius-s animate-in-up">
              <div class="card__image card-image-2"></div><div
                class="card__title"
              >
                <h4>Digital<br /> Art</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">Illustrations</span><span
                    class="rounded-tag">3d models</span
                  >
                </div>
              </div>
            </div>
          </div><!-- feature single item -->
          <div class="col-12 col-xl-4">
            <div class="card card-white border-radius-s animate-in-up">
              <div class="card__image card-image-3"></div><div
                class="card__title"
              >
                <h4>Brand<br /> Identity</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">Logo Design</span><span
                    class="rounded-tag">Style Guides</span
                  >
                </div>
              </div>
            </div>
          </div><!-- feature single item -->
          <div class="col-12 col-xl-8">
            <div class="card card-white border-radius-s animate-in-up">
              <div class="card__image card-image-4"></div><div
                class="card__title"
              >
                <h4>Digital Marketing <br />Solutions</h4><div
                  class="card__tags d-flex flex-wrap"
                >
                  <span class="rounded-tag">Social Media</span><span
                    class="rounded-tag">Promotion</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
