<style>
  /* ------------------------------------------------*/
  /* Preview Start */
  /* ------------------------------------------------*/
  .demo__links {
    position: relative;
    padding: 0 1.5rem;
    z-index: 6;
  }
  @media only screen and (min-width: 768px) {
    .demo__links {
      padding: 0 3rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .demo__links {
      max-width: 1760px;
      margin: 0 auto;
    }
  }

  .links__card {
    position: relative;
    padding: 0 1.5rem;
  }
  @media only screen and (min-width: 768px) {
    .links__card {
      padding: 0 2rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .links__card {
      padding: 0 3rem;
    }
  }

  .card__item {
    position: relative;
    min-height: 500px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
    -moz-transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
    transition: all 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  }
  .no-touch .card__item:hover {
    -webkit-transform: translate3d(0, -0.6rem, 0);
    -moz-transform: translate3d(0, -0.6rem, 0);
    transform: translate3d(0, -0.6rem, 0);
    -webkit-box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
    -moz-box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
    box-shadow:
      0 14px 28px rgba(24, 59, 126, 0.15),
      0 10px 10px rgba(24, 59, 126, 0.12);
  }

  .card__image {
    display: block;
    cursor: pointer;
  }

  .card__caption {
    padding: 2rem;
  }
  @media only screen and (min-width: 768px) {
    .card__caption {
      padding: 3rem;
    }
  }

  /* ------------------------------------------------*/
  /* Preview Sections End */
  /* ------------------------------------------------*/
</style>

<h2 class="inner__title animate-in-up">
  Creativity is above all. Just awesome template.
</h2>

<!-- <div class="intro__content mx-5">
  <div class="intro__container">
    <div class="container-fluid px-0">
      <div class="row gx-0">
        <div class="col-12">
          <div class="headline">
            <h1 class="headline__title">
              Coming soon &amp; portfolio template for the great launch
            </h1>
            <div class="headline__btnholder d-flex">
              <a
                href="#live-preview"
                class="btn-bottom anim-down scroll-to-preview"
              >
                <span class="circle">
                  <i class="circle__icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25px"
                      height="25px"
                      viewBox="0 0 25 25"
                    >
                      <path
                        fill="#393C44"
                        d="M25,4.8V24v1h-1H3.8v-1h19.5L0,0.7L0.7,0L24,23.3V4.8H25z"
                      ></path>
                    </svg>
                  </i>
                </span>
                <span class="caption">View demos</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section
  id="live-preview"
  class="demo__links first-section"
  data-astro-cid-amng4zvp=""
>
  <div class="links__card" data-astro-cid-amng4zvp="">
    <div class="container-fluid p-0" data-astro-cid-amng4zvp="">
      <div class="row gx-5 gy-5 align-items-stretch" data-astro-cid-amng4zvp="">
        <div class="col-12 col-md-6 col-xxl-6" data-astro-cid-amng4zvp="">
          <figure class="card__item border-radius-s" data-astro-cid-amng4zvp="">
            <a
              class="card__image"
              href="index-countdown-video.html"
              target="_blank"
              data-astro-cid-amng4zvp=""
            >
              <img
                src="img/demo/screens/2.webp"
                alt="Emeric Coming Soon Template Preview Screen"
                data-astro-cid-amng4zvp=""
              />
              <figcaption class="card__caption" data-astro-cid-amng4zvp="">
                <p class="caption__title" data-astro-cid-amng4zvp="">
                  Coming soon page
                </p>
                <p
                  class="caption__tags d-flex flex-wrap"
                  data-astro-cid-amng4zvp=""
                >
                  <span class="rounded-tag" data-astro-cid-amng4zvp=""
                    >Countdown Timer</span
                  >
                  <span class="rounded-tag" data-astro-cid-amng4zvp=""
                    >Video background</span
                  >
                </p>
              </figcaption>
            </a>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-xxl-6" data-astro-cid-amng4zvp="">
          <figure class="card__item border-radius-s" data-astro-cid-amng4zvp="">
            <a
              class="card__image"
              href="index-agency-image-countdown.html"
              target="_blank"
              data-astro-cid-amng4zvp=""
            >
              <img
                src="img/demo/screens/3.webp"
                alt="Emeric Coming Soon Template Preview Screen"
                data-astro-cid-amng4zvp=""
              />
              <figcaption class="card__caption" data-astro-cid-amng4zvp="">
                <p class="caption__title" data-astro-cid-amng4zvp="">
                  Creative Agency
                </p>
                <p
                  class="caption__tags d-flex flex-wrap"
                  data-astro-cid-amng4zvp=""
                >
                  <span class="rounded-tag" data-astro-cid-amng4zvp=""
                    >Countdown Timer</span
                  >
                  <span class="rounded-tag" data-astro-cid-amng4zvp=""
                    >Image Background</span
                  >
                </p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
