<div class="blocks__container">
  <h2 class="inner__title animate-in-up">
    Sectors is above all. Just awesome template.
  </h2><div class="content-block">
    <div class="skillbars">
      <!-- skillbar single item -->
      <div class="show-skillbar">
        <div class="skillbar light" data-percent="96">
          <span class="skillbar-title light">Figma</span><p
            class="skillbar-bar light"
            style="width: 96%;"
          >
          </p><span class="skill-bar-percent light">96%</span>
        </div>
      </div><!-- skillbar single item -->
      <div class="show-skillbar">
        <div class="skillbar light" data-percent="84">
          <span class="skillbar-title light">Adobe XD</span><p
            class="skillbar-bar light"
            style="width: 84%;"
          >
          </p><span class="skill-bar-percent light">84%</span>
        </div>
      </div><!-- skillbar single item -->
      <div class="show-skillbar">
        <div class="skillbar light" data-percent="90">
          <span class="skillbar-title light">Blender</span><p
            class="skillbar-bar light"
            style="width: 90%;"
          >
          </p><span class="skill-bar-percent light">90%</span>
        </div>
      </div><!-- skillbar single item -->
      <div class="show-skillbar">
        <div class="skillbar light" data-percent="90">
          <span class="skillbar-title light">HTML &amp; CSS</span><p
            class="skillbar-bar light"
            style="width: 90%;"
          >
          </p><span class="skill-bar-percent light">90%</span>
        </div>
      </div><!-- skillbar single item -->
      <div class="show-skillbar">
        <div class="skillbar light" data-percent="90">
          <span class="skillbar-title light">React</span><p
            class="skillbar-bar light"
            style="width: 90%;"
          >
          </p><span class="skill-bar-percent light">90%</span>
        </div>
      </div>
    </div>
  </div>
</div>
