<div class="blocks__container">
  <div class="content-block">
    <div class="col-12">
      <h2 class="inner__title animate-in-up">
        Creativity is above all. Just awesome template.
      </h2>
    </div><div class="container-fluid px-0">
      <div class="row gx-5 gy-5 align-items-stretch pt-5">
        <!-- feature single item -->
        <div class="col-12 col-xl-4">
          <div class="card card-white border-radius-s animate-in-up">
            <div class="card__image card-image-1"></div><div
              class="card__title"
            >
              <h4>FrQSDQSDontend <br />Development</h4><div
                class="card__tags d-flex flex-wrap"
              >
                <span class="rounded-tag">UI/UX Design</span><span
                  class="rounded-tag">Design to Code</span
                >
              </div>
            </div>
          </div>
        </div><!-- feature single item -->
        <div class="col-12 col-xl-4">
          <div class="card card-gradient border-radius-s animate-in-up">
            <div class="card__image card-image-2"></div><div
              class="card__title"
            >
              <h4>Digital<br /> Art</h4><div
                class="card__tags d-flex flex-wrap"
              >
                <span class="rounded-tag">Illustrations</span><span
                  class="rounded-tag">3d models</span
                >
              </div>
            </div>
          </div>
        </div><!-- feature single item -->
        <div class="col-12 col-xl-4">
          <div class="card card-gradient border-radius-s animate-in-up">
            <div class="card__image card-image-2"></div><div
              class="card__title"
            >
              <h4>Digital<br /> Art</h4><div
                class="card__tags d-flex flex-wrap"
              >
                <span class="rounded-tag">Illustrations</span><span
                  class="rounded-tag">3d models</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
